<% include ../partials/header %>
<div class="container new-input">
	<h1 class="text-center">Add Comment to <%= camp.name %></h1>
	<form action="/camps/<%= camp._id %>/comments" method="POST">
		<div class="form-group">
			<label for="textInput">Comment</label>
			<textarea class="form-control" name="comment[content]" id="textInput" rows="6" placeholder="Leave your comments here..."></textarea>
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">Submit</button>
		</div>
	</form>
	<a href="/camps/<%= camp._id %>">Back to <%= camp.name %> Info Page</a>
</div>
<p class="text-center copyright">&copy; Zeyu Fu 2019</p>
<% include ../partials/footer %>